.footer {
    padding: 70px 0;
    box-shadow: $box-shadow;
    font-size: 1.1rem;

    &__logo {
        height: 80px;
        margin-top: 10px;
    }

    &__about {
        p {
            margin-bottom: 2rem;
        }
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    &__content {
        p {
            margin-bottom: 1.25rem;
        }
    }
    &__slogan {
        font-weight: 600;
        font-size: 1.5rem;
        font-family: 'Georgia';
    }
}
